<%=render "common/navbar" %>
    <section id="homepage-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h2 class="slogan"> Grow your Jewlery Store with Bindo iPad POS </h2>
                    <div id="free-trial-button">
                        <a href="#">
                            <p>Request a Quote</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </section>
    <section id="homepage-clients">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-5 col-md-5 left-contents "> Always putting customers first, Monica knows the importance of fostering relationships between new and loyal customers alike. Monica utilizes Bindo's intuitive CRM features and isable to easily connect with her customers on a personal
                    level, providing customized discounts and rewards. With Bindo, she can give her customers a truly one-of-a-kind experience. </div>
                <div class="col-xs-12 col-sm-7 col-md-7 right-top-contents">
                    <h1>“Bindo lets me easily create profiles and discounts for my loyal customers. I simply love it!”</h1>
                    <div class="clients-details"> <img class="img-responsive full-width icon-clients" src="assets/people.png" />
                        <div>
                            <p>Monica - Amaaya Jewelry</p>
                            <div> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="homepage-incaction">
        <div class="container">
            <div class="row" style="margin-top:-137px;">
                <div class="col-sm-5 col-md-5"> <img class="img-responsive full-width" src="assets/human.png" /> </div>
                <div class="col-xs-12 col-sm-7 col-md-7"> <img class="img-responsive full-width" src="assets/jewl.png" /> </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>The Best iPad Cloud-Based Point-of-Sale Solution for Jewelry Shops</h1> </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>For Monica, jewelry is about passion and heritage. Helping grow her father's jewelry business since she was only six year's old, she developed a sharp eye for spotting the latest trends, leading her to eventually build Amaaya NYC.
                        Housing a wide range of innovative, contemporary pieces, Amaaya NYC soon became the destination for affordable luxury. </p>
                </div>
            </div>
        </div>
    </section>
    <section id="homepage-loyal">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <h2>Create Loyal Customers & Keep Them Coming Back</h2>
                    <p>Bindo POS increases your customers retention rates with a powerful, dynamic and wholly customizable CRM feature. Enhance customer loyalty with rewards in the form of store credit and gift cards. Never let a customer fall off the radar
                        again.
                    </p>
                </div>
                <div class="col-sm-7 col-md-7"> </div>
            </div>
        </div>
    </section>
    <section id="homepage-boost-sale">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 pull-right">
                    <h2>Insightful Data Analytics & Reports To Boost Sales</h2>
                    <p>Have full acess to detailed breakdowns of your net profits and revenue. With Bindo POS analytics, know exactly who your best customers and best sales people are, and reward them both. With over a dozen reports, have a full analysis
                        of revenue costs, margins to minimize loss and maximize your revenue. Know what works the best for you store with all the quantative numbers to back it up.</p>
                </div>
                <div class="col-sm-6 col-md-6"> 
                    <img class="img-responsive full-width" src="assets/graphic.png" /> 
                </div>
                
            </div>
        </div>
    </section>
    <section id="homepage-use">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <h2>Intuitive & Easy-to-Use</h2>
                    <p>With a simple and clean interface, Bindo POS allows merchants to accomplish tasks faster and more efficiently. The entire payment process is now simplified and made to be easy to learn and use for you and your entire team. Say goodbye
                        to clunky legacy POS systems.</p>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-1"> <img class="img-responsive full-width" src="assets/ipad.png" /> </div>
            </div>
        </div>
    </section>
    <section id="homepage-form">
        <div class="container">
            <div class="row">
                <h2>Bindo POS for Jewelry Shop</h2>
                <p>Start growing your jewelry business with the Bindo iPad POS retail solution. The system was built to make managing your store easier. Have immediate access to 300+ features, including inventory management, sophisticated CRM reporting,
                    loyalty and rewards program as well as full access to detailed sales analytics and reporting.</p>
            </div>
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Store Name"> </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Your Full Name"> </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email Address"> </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Phone Number"> </div>
                        <button type="submit" class="btn btn-default btn-main">Request a Quote</button>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-1"> <img class="img-responsive full-width" src="assets/hardware.png" /> </div>
            </div>
        </div>
    </section>
    <section id="homepage-other">
        <div class="container">
            <h1>Browse Other Business Types</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill1">
                                <p>Wine & Liquor Stores</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill2">
                                <p>Pet Stores</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill3">
                                <p>Pharmacies & Health Stores</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill4">
                                <p>Convenience Stores</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill5">
                                <p>Clothing Stores</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill6">
                                <p>Sports & Outdoor</p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill1">
                                <p>Delicatessens & Candies</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill2">
                                <p>Salons & Spas</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill3">
                                <p>Smoke & Vape Stores</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill4">
                                <p>Lifestyle & Furniture</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill3">
                                <p>Gift Stores</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="fill4">
                                <p>Other Retail Stores</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
              
        </div>
    </section>
