/*settings here*/

$navbar-default-bg: rgba(30, 30, 30, 0.7);
$navbar-border-radius: 0px;
$navbar-default-border: 0px;
$navbar-default-link-color: #fff;
$navbar-padding-horizontal: 13px;
$navbar-padding-vertical: 26px;
$navbar-height: auto;
$grid-gutter-width: 20px;

$container-desktop: (940px);
$container-large-desktop: (940px);
$container-md:(940px);
$container-sm:(100%);
//$screen-sm-min:(940px);
$grid-float-breakpoint:(992px);
 
$form-group-margin-bottom: 13px;
$border-radius-base: 0px;
$input-border: rgba(0, 0, 0, 0.2);
$input-height-base: 40px;
@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-default .navbar-nav > li > a {
    padding-top: 32px;
}

@import "font-awesome-sprockets";
@import "font-awesome";
.nopadding {
    padding: 0px;
}

.no-left-padding{
    padding-left: 0;
}

.container {
     
    padding: 0px 10px 0px 10px;
}

.btn-main {
    background-color: #49BBEB;
    color: #FFF;
    width: 100%;
    border: 2px solid #49BBEB;
    height: 60px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}

body {
      font-family: HelveticaNeueDeskInterface;
      max-width: 1500px;
      margin: 0px auto;
      img {
          margin: 0px auto;
      }
  }
  
 .light-text{
     opacity: .6;
 }
 
 li{
     list-style: none;
 }
 
