footer {
    background: #60707C;
    font-size: 14px;
    color: #fff;
    .footer-claim {
        padding: 40px 0;
    }
    hr {
        margin: 0px;
        border-top: 1px solid #000000;
    }
    .soical-network {
        margin-top: 27px;
        img {
            margin-right: 10px;
        }
        img:last-child {
            margin-right: 0px;
        }
    }
    h4 {
        margin: 37px 0 9px 0;
        opacity: 1;
        font-size: 14px;
    }
    ul {
        padding-left: 0px;
    }
    li {
        line-height: 21px;
    }
    @media screen and (max-width: 768px) {
        .text-right {
            text-align: left;
        }
    }
}