<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <h4>Bindo POS</h4>
                <ul class="light-text">
                    <li>Overview</li>
                    <li>Inventory</li>
                    <li>Purchase Order</li>
                    <li>Customer & Loyalty</li>
                    <li>Analytics</li>
                    <li>Time Clock</li>
                    <li>Mobile</li>
                    <li>Multi-store</li>
                    <li>Hardware</li>
                    <li>Pricing</li>
                    <li>Free Trial</li>

                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <h4>Solutions</h4>
                <ul class="light-text">
                    <li>Wine, Liquor & Beer Stores</li>
                    <li>Pet Stores</li>
                    <li>Pharmacies, Health & Beauty</li>
                    <li>Stores</li>
                    <li>Convenience Stores</li>
                    <li>Clothing, Shoe & Accessory Stores</li>
                    <li>Sports & Outdoors Stores</li>
                    <li>Home & Lifestyle Stores</li>
                    <li>Gift Stores</li>
                    <li>Specialty Food Stores & Delicatessens</li>
                    <li>Salons & Spas</li>
                    <li>Smoke & Vape Stores / Dispensaries</li>
                    <li>Retail Stores</li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
                <h4>Support</h4>
                <ul class="light-text">
                    <li>Help</li>
                    <li>Center</li>
                    <li>Feedback</li>
                </ul>
                <h4>Support</h4>
                <ul class="light-text">
                    <li>Referral Program</li>
                    <li>Developer Program</li>
                </ul>
                <h4>About Us</h4>
                <ul class="light-text">
                    <li>Blog</li>
                    <li>Press Center</li>
                    <li>Team</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-2 col-md-offset-1 text-right no-left-padding">
                <h4>Get in Touch</h4>
                <ul class="light-text">
                    <li>154 Grand St.</li>
                    <li>Suite 4S-04</li>
                    <li>New York, NY 10013</li>
                    <li>&nbsp;</li>
                    <li>1-800-My-Bindo</li>
                    <li>(T) 212-991-8562</li>
                    <li>(F) 212-991-8563</li>
                    <li>&nbsp;</li>
                    <li>hello@bindo.com</li>
                </ul>

                <div class="soical-network">
                    <img src="assets/twitter.png" />
                    <img src="assets/fb.png" />
                    <img src="assets/ig.png" />
                    <img class="nomarginright" src="assets/mail.png" />
                </div>
            </div>
        </div>

    </div>
    <hr/>
    <div class="container">
    <div class="row footer-claim">
        <div class="col-sm-1 col-md-1 light-text">Legal</div>
        <div class="col-sm-9 col-md-8 col-sm-offset-2 col-md-offset-3 light-text text-right footer-rights">
            © 2014 Bindo Labs, Inc. All rights reserved. Bindo is a registered trademark of Bindo Labs, Inc.
        </div>
    </div>
    </div>
</footer>