<nav id="navbar" class="navbar navbar-default navbar-fixed-top opacity-40">
  <div class="container">
        <div class="flag">
					<span class="non-retina-flag">
						<a href="/en">
							<img alt="Us-flag" src="https://d1zbq0kif6r8ln.cloudfront.net/assets/p/index/US-flag-e2473b7007666903161e2eeef79cf65f.png">
						</a>
					</span>
					<p class="selected_language">United States (English)</p>
					<img src="assets/arrow-down.png"/>
				</div>
        <ul class="top_right_bar">
				  <li><a href="http://www.bindo.com">Bindo Market</a></li>
				  <li><a href="http://support.bindo.com/?_ga=1.75727826.698383775.1430234333">Help</a></li>
				  <li><a href="https://dashboard.bindo.com/?_ga=1.75727826.698383775.1430234333#/login">Sign In</a></li>
				  <li><a href="tel:+18006924636">Hotline: 1-800-692-4636</a></li>
			</ul>
    
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="dont-collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Bindo" class="logo non-retina-logo" src="https://d1zbq0kif6r8ln.cloudfront.net/assets/p/index/bindo-logo-518311c14c4e7e82e6d0cd591922849d.png">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#">FEATURES</a></li>
        <li><a href="#">HARDWARE</a></li>
        <li><a href="#">TESTIMONIALS</a></li>
        <li><a href="#">BLOG</a></li>
				<li class="action">
				  <a href="#">REQUEST A QUOTE</a>
				</li>
				<li class="action trial">
				  <a href="#">FREE TRIAL</a>
				</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>